<div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Photo
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Status
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Copyright
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Published
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Actions
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <% @photos.each do |photo| %>
        <tr>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="flex items-center h-40 w-40">
              <% if photo.filename %>
                <%= image_tag photo.filename, skip_pipeline: true, class: 'object-cover h-full w-full' %>
              <% end %>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="<%= photo.status_classes %>"><%= photo.status %></div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <span class="<%= photo.copyright_classes %>"><%= photo.copyright %></span>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <span class="<%= photo.published_classes %>"><%= photo.published %></span>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div>
              <%= link_to 'Reject', reject_review_path(photo.id), class: 'text-blue-600 hover:text-blue-900', method: :post %>
              |
              <%= link_to 'Pre Approve', pre_approve_review_path(photo.id), class: 'text-blue-600 hover:text-blue-900', method: :post %>
              |
              <%= link_to 'Approve', approve_review_path(photo.id), class: 'text-blue-600 hover:text-blue-900', method: :post %>
            </div>
            <% if flash[photo.id].present? %>
              <div class="items-end justify-center mb-4 relative">
                <% flash[photo.id].each do |type, message| %>
                  <div class="<%= tailwind_flash_classes(type.to_sym) %> absolute">
                    <%= message %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
